@model IEnumerable<MvCBornToMove.Models.Move>

@{
    ViewData["Title"] = "Exercise List";
}

<h1>List of Exercices</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SweatRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRatings.AverageRating)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            @* var roundedRating = Math.Round(item.AverageRatings.AverageRating, 1); *@

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SweatRate)
            </td>
            <td>
                @if (item.AverageRatings != null)
                {
                        @Math.Round(item.AverageRatings.AverageRating, 1)
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">+ Add New Exercise</a>
</p>
